$primary-color: #3498db; //переменные для цвета и размеша шрифта
$font-size: 16px;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

//карточка
.card {
    padding: 16px;
    border: 1px solid #ddd;
    width: 250px;
    
    &__image {
        width: 100%;
        height: auto;
    }
    
    &__title {
        font-size: $font-size * 1.5;
        color: $primary-color;
    }
    
    &__description {
        font-size: $font-size;
        color: #666;
    }
    
    &__button {
        display: inline-block;
        padding: 8px 16px;
        background: $primary-color;
        color: white;
        text-decoration: none;
        
        //используем миксин
        @include transform(rotate(0deg));
    }
}